<!DOCTYPE html>
<html lang="en">
<head>
  <title>Golf Handicapper</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
  <style>

  body {
  color: black;
  }
    
  .navbar.navbar-default {
    background-color: #33cc33; 
  }
  
  footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  }   
  </style>
  
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><b>GoogleBopsGolf</b></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/manage/">Manage</a></li>
      <li><a href="/show/">Rounds</a></li>
      <li><a href="/handicap/">Handicap</a></li>
      <li><a href="/sop/">SOP Data</a></li>
    </ul>
  </div>
</nav>
<div class="content container">

        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
<footer>
    <h5>A Kudela Partnership Application</h5>
</footer>
</html>