{% extends 'rounds/base.html' %}

{% block content %}

<h1>Home Page</h1>

<h3 align="center">Annual Statistics</h3>
<table width="100%" style="border: 3px solid black;">
<tr style="border: 1px solid black;">
    <th>Year</th>
    <th>Rounds Played</th>
    <th>Avg. Score</th>
    <th>Avg. Putts</th>
    <th>Avg. FH</th>
    <th>Avg. GIR</th>
</tr>
{% for year in year_stats %}
<tr>
    <td>{{ year.0 }}</td>
    <td>{{ year.1 }}</td>
    <td>{{ year.2 | floatformat:1 }}</td>
    <td>{{ year.3 | floatformat:1 }}</td>
    <td>{{ year.4 | floatformat:1 }}</td>
    <td>{{ year.5 | floatformat:1 }}</td>
</tr>
{% endfor %}
</table>

{% endblock %}